h1 { color: #369; font-family: Arial, Helvetica, sans-serif; font-size: 250%; }


.textGray { color: rgb(88, 88, 88); }

.reservationTableHeader .hourCell { width: 50px; }

.reservationTableHeader .arenaCell {background-color: white; vertical-align: bottom; text-align: center; width: 140px;  }
.arenaTitle a { color: black; text-decoration: none; }
.arenaTitle a:hover,
.arenaTitle a:focus { text-decoration: underline; }

.reservationBox { max-width: 100%; margin-top: 30px; overflow: auto; }

.reservationTable { display: table; border-collapse: collapse; margin: 0 auto; }
.reservationTable .reservationTableRow { display: table-row; }
.reservationTable .reservationTableRow .reservationTableCell { display: table-cell; border: 1px solid rgb(90, 90, 90); padding: 5px 12px;}


.arenaCell { background-color: rgb(125, 211, 125);  }
.arenaCell.full { background-color: #ebb2b2; }
.arenaCell.closed { background-color: gray; }
.arenaCell a { color: black; text-decoration: none; }
.arenaCell:hover,
.arenaCell:focus { opacity: 0.8; }



/* LOADER */
@keyframes lds-bars {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}
@-webkit-keyframes lds-bars {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}
.lds-bars { position: relative; margin: 0 auto; opacity: 0.5; }
.lds-bars div { position: absolute; width: 20px; height: 80px; top: 60px; -webkit-animation: lds-bars 1s cubic-bezier(0.5, 0, 0.5, 1) infinite; animation: lds-bars 1s cubic-bezier(0.5, 0, 0.5, 1) infinite; }
.lds-bars div:nth-child(1) { left: 30px; background: #555555; -webkit-animation-delay: -0.6s; animation-delay: -0.6s; }
.lds-bars div:nth-child(2) { left: 70px; background: #555555; -webkit-animation-delay: -0.4s; animation-delay: -0.4s; }
.lds-bars div:nth-child(3) { left: 110px; background: #555555; -webkit-animation-delay: -0.2s; animation-delay: -0.2s; }
.lds-bars div:nth-child(4) { left: 150px; background: #555555; }
.lds-bars { width: 50px !important; height: 50px !important; -webkit-transform: translate(-25px, -25px) scale(0.25) translate(25px, 25px); transform: translate(-25px, -25px) scale(0.25) translate(25px, 25px); }