<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Rezervace kurtu na badminton v Brně
  </h1>
  <div class="filters">
    <img src="./assets/images/date_icon.svg" class="dateIcon" alt="Datum:" title="Datum:"> 
    <input [ngModel]="today" (ngModelChange)="setDate($event)" type="date" class="dateInput" >
    &nbsp;&nbsp;&nbsp;&nbsp;
    <img src="./assets/images/student_icon.svg" class="studentIcon" alt="Cenová skupina:" title="Cenová skupina:"> 
    <select [(ngModel)]="priceGroupId" class="priceGroupSelect">
      <option *ngFor="let priceGroup of priceGroups" [value]="priceGroup.id">{{priceGroup.name}}</option>
    </select>  
  </div>
  <div class="reservationBox">
      <div class="reservationTable" *ngIf="availabilityObserver | async as availability; else loading">

        <div class="reservationTableRow reservationTableHeader">
            <div class="reservationTableCell hourCell">&nbsp;</div>
            <div class="reservationTableCell arenaCell" *ngFor="let arena of arenas">
                <h2 class="arenaTitle">
                  <a href="{{arena.skymUrl}}" target="_blank" rel="noopener" title="Zobrazit detail haly na sKým.cz.">{{arena.name}}</a>
                </h2>
            </div>
        </div>

        <div class="reservationTableRow" *ngFor="let hour of hours">       
            <div class="reservationTableCell hourCell">{{ hour }}</div>
            <div class="reservationTableCell arenaCell" *ngFor="let arena of arenas" [ngClass]="{'timeSlot': true, 'tableCell': true, 'full': availability[arena.playgroundId][hour].availability == 0, 'closed': !availability[arena.playgroundId][hour].price }">
              <a *ngIf="availability[arena.playgroundId][hour].availability != 0 && availability[arena.playgroundId][hour].price" class="tableCellWrap" href="{{getReservationUrl(arena.arenaId, today)}}" target="_blank" rel="noopener" title="Rezervovat kurt přes sKým.cz.">{{ availability[arena.playgroundId][hour].price[priceGroupId] }} Kč<span class="textGray">, kurtů:</span> {{availability[arena.playgroundId][hour].availability}}</a>
              <span *ngIf="availability[arena.playgroundId][hour].availability == 0 && availability[arena.playgroundId][hour].price" class="tableCellWrap">{{ availability[arena.playgroundId][hour].price[priceGroupId] }} Kč - plno</span>
              <span *ngIf="!availability[arena.playgroundId][hour].price" class="tableCellWrap">zavřeno</span>
            </div>
        </div> 
      </div>

      
    <ng-template #loading let-availability>
      <div class="lds-bars">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </ng-template>


    </div>  
</div>