<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}} - {{today}}
  </h1>
  <input [ngModel]="today"
          (ngModelChange)="setDate($event)" type="date" >
  <div class="reservationTable">
    <div class="hoursColumn column">
      <div *ngFor="let hour of hours">
        {{ hour }}
      </div>
    </div>
    <div *ngFor="let arena of arenas" class="arenaColumn column">
      <h2>{{arena.name}}</h2>
      <div *ngFor="let hour of arena.hours | async" [ngClass]="{'timeSlot': true, 'full': hour.availability == 0 }">
        {{ hour.price }} Kč - {{hour.availability}}
      </div>
      <div *ngIf="!(arena.hours | async)">
        Litujeme, pro toto sportoviště, nemáme informace o obsazenosti pro tento den.
      </div>
    </div>
</div>
</div>