/* You can add global styles to this file, and also import other style files */

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
    margin: 0;
    padding: 0;
}

.navbar { background-color: #74E5BA; color: white; padding: 12px 20px; margin-bottom: 20px; box-shadow: 0px 2px 2px #cbcbcb; }
.navbar .container { text-align: left; max-width: 1212px; margin: 0 auto; }
.navbar .rightPart { float: right;}
.navbar h1 { font-size: 16px; margin: 0; display: inline; }
.navbar h1 a { color: #333; display: inline-block; padding-left: 36px; text-decoration: none; position: relative; transition: color 0.3s ease-out; }
.navbar h1 a::before { width: 30px; height: 30px; position: absolute; left: 0px; top: -6px; content: " "; background-image: url(https://badminton.skym.cz/assets/images/logo/logo-square-mini.png) }
.navbar h1 a:hover,
.navbar h1 a:focus { color: #000; }
.navbar h1 .appendix { color: #727070; font-weight: normal; }
.navbar .skymLink { color: #333; text-decoration: none; }
.navbar .skymLink:hover,
.navbar .skymLink:focus { text-decoration: underline; }

@media screen and (max-width: 760px) {
    .navbar .rightPart { display: none; }
}

@media screen and (max-width: 550px) {
    .navbar h1 .appendix { display: none; }
}

#pageFooter {
    color: grey;
    background-color: #74E5BA;
    padding: 8px 12px;
    margin-top: 40px;
    box-shadow: 0px -1px 2px #cbcbcb;
}
#pageFooter a {
    color: black;
    text-decoration: underline;
}
#pageFooter a:hover,
#pageFooter a:focus { text-decoration: none; }

